@import '../../lib/colors.scss';

.for-whom {

    h2 {
        span {
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(129.1deg, $blue 57.94%, $purple 71.75%);
            // text-fill-color: transparent;
        }
    }

    &__icon {
        width: 60px;
        height: 60px;
        padding: 15px;
    }

    &__item {
        padding: 20px 40px;

        h3 {
            font-size: 24px;
            line-height: 32px;
        }

        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
}