@import "../../lib/colors.scss";

.welcome {

  &__slogan {
    color: $blue;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
  }

  p {
    max-width: 491px;
    font-size: 20px;
    line-height: 35px;
    color: $light-grey;
    margin: 20px 0 56px;
  }

  .btn {
    font-size: 18px;
    padding: 18px 27.5px;
  }

  &__play {

    span {
      width: 60px;
      height: 60px;
      margin-right: 12px;
      background-color: $light-pink;
      padding: 18px 17px 17px 23px;

      img {
        opacity: 0.4;
      }
    }

    &:hover {
      color: $black;

      img {
        opacity: 1;
      }
    }
  }
}